<h3>Import data</h3>

In [1]:
# Import basic libraries
import os
import pandas as pd
import numpy as np

# Import data
data_path = ['data']
filepath_train = os.sep.join(data_path + ['train.csv'])
filepath_test = os.sep.join(data_path + ['test.csv'])
filepath_y_test = os.sep.join(data_path + ['gender_submission.csv'])
train = pd.read_csv(filepath_train)
test = pd.read_csv(filepath_test)
y_test = pd.read_csv(filepath_y_test)

<h3>Initial data exploration</h3>

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Training set info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# Test set info
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

The training data has 12 columns. Test data has 11 columns. Column 'Survived' is a target, integer dtype, binary encoded (1 - survived, 0 - not survived). It  Among the features, 6 columns are numeric dtype and 5 object dtype.

In [5]:
# Check missing values in training set
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In training set, there is 687/891 missing values in column 'Cabin', 177/891 in column 'Age' and 2/891 in column 'Embarked'

In [6]:
# Check missing values in test set
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In test set, there is 327/418 missing values in 'Cabin' column, 86/418 in 'Age' column and 1 missing value in 'Fare' column

In [7]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In both datasets, minimum value in 'Age' column is less than 1. This feature needs further exploration.

In [9]:
# Assign target data and get feature names
y_train = train['Survived']
features = [x for x in train.columns if x != 'Survived']

In [10]:
y_test = y_test.drop('PassengerId', axis=1)

In [11]:
y_test.head()

   Survived
0         0
1         1
2         0
3         0
4         1

<h2>Data preparation</h2>

<h3>Cabin</h3>

In [12]:
# Examine cabin values
train['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

Since 'Cabin' column has a lot of unique categorical values and a lot of missing values both in train and test set, I drop this column.

In [13]:
train.drop('Cabin', axis=1, inplace=True)
test.drop('Cabin', axis=1, inplace=True);

In [14]:
features.remove('Cabin')

<h3>Ticket</h3>

Similarly, 'Ticket' column is unlikely to provide any useful information, thus I drop it as well.

In [15]:
train.drop('Ticket', axis=1, inplace=True)
test.drop('Ticket', axis=1, inplace=True)

In [16]:
features.remove('Ticket')

<h3>Embarked</h3>

There are only 2 missing values of this feature in train set, I fill it.

In [17]:
train['Embarked'].value_counts(normalize=True)

S    0.724409
C    0.188976
Q    0.086614
Name: Embarked, dtype: float64

Most frequent value is 'S', so i fill missing values with it.

In [18]:
train = train.fillna({'Embarked': 'S'})

<h3>Age</h3>

There is a lot of missing values in 'Age' columns which should be filled. But first I check the values less than 1

In [19]:
train[train['Age'] < 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,29.0000,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,151.5500,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,19.2583,C
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,19.2583,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,14.5000,S
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,8.5167,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,18.7500,S

In [20]:
test[test['Age'] < 1]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
201,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,14.400,S
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,27.750,S
281,1173,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,13.775,S
307,1199,3,"Aks, Master. Philip Frank",male,0.83,0,1,9.350,S
354,1246,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,20.575,S

Age values above seems to be errors. I assign NaN to them, and later they will be filled.

In [21]:
train_age_idxs = train[train['Age'] < 1].index
test_age_idxs = test[test['Age'] < 1].index
train.loc[train_age_idxs, 'Age'] = np.nan
test.loc[test_age_idxs, 'Age'] = np.nan

Fill missing age values

In [22]:
# Check age correlation to another features
age_correlations_train = train[features].corrwith(train['Age']).abs().sort_values(ascending=False)
age_correlations_train

Age            1.000000
Pclass         0.376786
SibSp          0.305371
Parch          0.173905
Fare           0.099329
PassengerId    0.046289
dtype: float64

In [23]:
age_correlations_test = test[features].corrwith(test['Age']).abs().sort_values(ascending=False)
age_correlations_test

Age            1.000000
Pclass         0.486803
Fare           0.337405
SibSp          0.090576
PassengerId    0.016256
Parch          0.014313
dtype: float64

Since there's a highest correlation between Age and Pclass, missing values will be filled with median value of age according to each pclass.

In [24]:
# Fill missing values with median age for each of Pclass in both training and test set
train['Age'] = train.groupby(['Pclass'])['Age'].apply(lambda x: x.fillna(x.median()))
test['Age'] = test.groupby(['Pclass'])['Age'].apply(lambda x: x.fillna(x.median()))

<h3>Fare</h3>

In [25]:
test[test['Fare'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,NaN,S

In [26]:
# Check age correlation to another features
fare_correlations_train = train[features].corrwith(train['Fare']).abs().sort_values(ascending=False)
fare_correlations_train

Fare           1.000000
Pclass         0.549500
Parch          0.216225
SibSp          0.159651
Age            0.129549
PassengerId    0.012658
dtype: float64

In [27]:
fare_correlations_test = test[features].corrwith(test['Fare']).abs().sort_values(ascending=False)
fare_correlations_test

Fare           1.000000
Pclass         0.577147
Age            0.355370
Parch          0.230046
SibSp          0.171539
PassengerId    0.008211
dtype: float64

I fill this value with median value of fare for corresponding Pclass, because it is the feature of highest correlation with fare

In [28]:
test['Fare'] = test.groupby(['Pclass'])['Fare'].apply(lambda x: x.fillna(x.median()))

<h3>Name</h3>

Name doesn't provide any useful information, I drop it.

In [29]:
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)
features.remove('Name')

<h3>Embarked and sex</h3>

One hot encode these columns

In [30]:
one_hot_encode_cols = ['Embarked', 'Sex']
train = pd.get_dummies(train, columns=one_hot_encode_cols)
test = pd.get_dummies(test, columns=one_hot_encode_cols)
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,0,3,22.0,1,0,7.2500,0,0,1,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,0,1,0
2,3,1,3,26.0,0,0,7.9250,0,0,1,1,0
3,4,1,1,35.0,1,0,53.1000,0,0,1,1,0
4,5,0,3,35.0,0,0,8.0500,0,0,1,0,1

<h3>Age and fare</h3>

Scale these features using minmax scaler

In [31]:
# Pop passenger id from data
train_id = train.pop('PassengerId')
test_id = test.pop('PassengerId')

In [32]:
y_train = train.pop('Survived')

In [33]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train = scaler.fit_transform(train)
X_test = scaler.fit_transform(test)

<h2>Model</h2>

In [39]:
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import accuracy_score

<h3>KNN</h3>

In [38]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision, recall, fscore, _ = score(y_test, y_pred, average='weighted')
metrics_knn = pd.Series({'precision':precision, 'recall':recall, 
                              'fscore':fscore, 'accuracy':accuracy}, name='KNN')
metrics_knn

precision    0.858661
recall       0.858852
fscore       0.858751
accuracy     0.858852
Name: KNN, dtype: float64

<h3>Logistic Regression</h3>

In [54]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision, recall, fscore, _ = score(y_test, y_pred, average='weighted')
metrics_lr = pd.Series({'precision':precision, 'recall':recall, 
                              'fscore':fscore, 'accuracy':accuracy}, name='LR')
metrics_lr

# Save y_pred for later, calculate probability of each output
y_pred_lr = y_pred
proba = lr.predict_proba(X_test)
proba

array([[0.89408879, 0.10591121],
       [0.57798643, 0.42201357],
       [0.85848478, 0.14151522],
       [0.90306021, 0.09693979],
       [0.43357795, 0.56642205],
       [0.87093191, 0.12906809],
       [0.36125187, 0.63874813],
       [0.80196974, 0.19803026],
       [0.26120778, 0.73879222],
       [0.91869273, 0.08130727],
       [0.89642294, 0.10357706],
       [0.66079612, 0.33920388],
       [0.08565033, 0.91434967],
       [0.90683185, 0.09316815],
       [0.14749575, 0.85250425],
       [0.14909594, 0.85090406],
       [0.75614274, 0.24385726],
       [0.83568605, 0.16431395],
       [0.45471012, 0.54528988],
       [0.40829906, 0.59170094],
       [0.64090746, 0.35909254],
       [0.86212807, 0.13787193],
       [0.11616513, 0.88383487],
       [0.40126125, 0.59873875],
       [0.09588463, 0.90411537],
       [0.95137954, 0.04862046],
       [0.04889903, 0.95110097],
       [0.84072386, 0.15927614],
       [0.63156174, 0.36843826],
       [0.88527177, 0.11472823],
       [0.87583721, 0.12416279],
       [0.81495063, 0.18504937],
       [0.50995343, 0.49004657],
       [0.45370997, 0.54629003],
       [0.49041167, 0.50958833],
       [0.82700586, 0.17299414],
       [0.39319185, 0.60680815],
       [0.37548166, 0.62451834],
       [0.89856722, 0.10143278],
       [0.89225022, 0.10774978],
       [0.89175853, 0.10824147],
       [0.63813492, 0.36186508],
       [0.9295088 , 0.0704912 ],
       [0.21422456, 0.78577544],
       [0.14232912, 0.85767088],
       [0.89869759, 0.10130241],
       [0.54507307, 0.45492693],
       [0.86683132, 0.13316868],
       [0.11086582, 0.88913418],
       [0.48513487, 0.51486513],
       [0.56683043, 0.43316957],
       [0.680951  , 0.319049  ],
       [0.23893583, 0.76106417],
       [0.12257444, 0.87742556],
       [0.68084322, 0.31915678],
       [0.90556424, 0.09443576],
       [0.91912578, 0.08087422],
       [0.89872034, 0.10127966],
       [0.91120892, 0.08879108],
       [0.05491896, 0.94508104],
       [0.87918459, 0.12081541],
       [0.79270426, 0.20729574],
       [0.88180446, 0.11819554],
       [0.31687861, 0.68312139],
       [0.40537734, 0.59462266],
       [0.20081393, 0.79918607],
       [0.29580395, 0.70419605],
       [0.66300363, 0.33699637],
       [0.45887028, 0.54112972],
       [0.190454  , 0.809546  ],
       [0.32769176, 0.67230824],
       [0.88931832, 0.11068168],
       [0.42312231, 0.57687769],
       [0.44372307, 0.55627693],
       [0.05604361, 0.94395639],
       [0.42702618, 0.57297382],
       [0.89640993, 0.10359007],
       [0.2064977 , 0.7935023 ],
       [0.78452358, 0.21547642],
       [0.32769176, 0.67230824],
       [0.81271045, 0.18728955],
       [0.76618362, 0.23381638],
       [0.67724586, 0.32275414],
       [0.89642294, 0.10357706],
       [0.71808998, 0.28191002],
       [0.8666952 , 0.1333048 ],
       [0.34423872, 0.65576128],
       [0.35835433, 0.64164567],
       [0.32769176, 0.67230824],
       [0.69204712, 0.30795288],
       [0.42289039, 0.57710961],
       [0.89643313, 0.10356687],
       [0.10367896, 0.89632104],
       [0.89640993, 0.10359007],
       [0.4228256 , 0.5771744 ],
       [0.89870828, 0.10129172],
       [0.25880069, 0.74119931],
       [0.90736707, 0.09263293],
       [0.36986335, 0.63013665],
       [0.91535568, 0.08464432],
       [0.09061346, 0.90938654],
       [0.79962583, 0.20037417],
       [0.86683132, 0.13316868],
       [0.90094234, 0.09905766],
       [0.29517674, 0.70482326],
       [0.90412039, 0.09587961],
       [0.85801059, 0.14198941],
       [0.86683132, 0.13316868],
       [0.89635401, 0.10364599],
       [0.73251307, 0.26748693],
       [0.75117058, 0.24882942],
       [0.32768591, 0.67231409],
       [0.06687056, 0.93312944],
       [0.29850331, 0.70149669],
       [0.18182203, 0.81817797],
       [0.84857271, 0.15142729],
       [0.84572913, 0.15427087],
       [0.31187378, 0.68812622],
       [0.47913766, 0.52086234],
       [0.23896161, 0.76103839],
       [0.14830697, 0.85169303],
       [0.88605593, 0.11394407],
       [0.07541095, 0.92458905],
       [0.90531687, 0.09468313],
       [0.86683132, 0.13316868],
       [0.3606811 , 0.6393189 ],
       [0.89174149, 0.10825851],
       [0.40684129, 0.59315871],
       [0.83053491, 0.16946509],
       [0.89640993, 0.10359007],
       [0.91341694, 0.08658306],
       [0.5938744 , 0.4061256 ],
       [0.43020941, 0.56979059],
       [0.86753458, 0.13246542],
       [0.93268345, 0.06731655],
       [0.89642645, 0.10357355],
       [0.85354622, 0.14645378],
       [0.7673056 , 0.2326944 ],
       [0.38729865, 0.61270135],
       [0.95025778, 0.04974222],
       [0.53933036, 0.46066964],
       [0.08618945, 0.91381055],
       [0.66150862, 0.33849138],
       [0.77397245, 0.22602755],
       [0.63813492, 0.36186508],
       [0.94561845, 0.05438155],
       [0.63280692, 0.36719308],
       [0.89171919, 0.10828081],
       [0.63813492, 0.36186508],
       [0.81764054, 0.18235946],
       [0.04915647, 0.95084353],
       [0.84555616, 0.15444384],
       [0.95530091, 0.04469909],
       [0.48597848, 0.51402152],
       [0.93462889, 0.06537111],
       [0.89645211, 0.10354789],
       [0.07419569, 0.92580431],
       [0.38734087, 0.61265913],
       [0.63813492, 0.36186508],
       [0.42428385, 0.57571615],
       [0.3276951 , 0.6723049 ],
       [0.81645105, 0.18354895],
       [0.19794841, 0.80205159],
       [0.89649849, 0.10350151],
       [0.82702052, 0.17297948],
       [0.45585273, 0.54414727],
       [0.55877353, 0.44122647],
       [0.91875109, 0.08124891],
       [0.07701667, 0.92298333],
       [0.38124264, 0.61875736],
       [0.89645211, 0.10354789],
       [0.85508742, 0.14491258],
       [0.90934955, 0.09065045],
       [0.84563524, 0.15436476],
       [0.94891309, 0.05108691],
       [0.16653351, 0.83346649],
       [0.17237439, 0.82762561],
       [0.63602097, 0.36397903],
       [0.25958733, 0.74041267],
       [0.12957419, 0.87042581],
       [0.78452358, 0.21547642],
       [0.53845036, 0.46154964],
       [0.07832907, 0.92167093],
       [0.86683132, 0.13316868],
       [0.0554733 , 0.9445267 ],
       [0.82305208, 0.17694792],
       [0.18427803, 0.81572197],
       [0.91215852, 0.08784148],
       [0.73445223, 0.26554777],
       [0.82344874, 0.17655126],
       [0.82596887, 0.17403113],
       [0.63825032, 0.36174968],
       [0.88720908, 0.11279092],
       [0.85514971, 0.14485029],
       [0.69296449, 0.30703551],
       [0.91536947, 0.08463053],
       [0.31088892, 0.68911108],
       [0.35841179, 0.64158821],
       [0.75419851, 0.24580149],
       [0.3931783 , 0.6068217 ],
       [0.32614217, 0.67385783],
       [0.90348477, 0.09651523],
       [0.55685368, 0.44314632],
       [0.16297036, 0.83702964],
       [0.76326508, 0.23673492],
       [0.52749234, 0.47250766],
       [0.39026174, 0.60973826],
       [0.75876085, 0.24123915],
       [0.06259161, 0.93740839],
       [0.8987    , 0.1013    ],
       [0.91237104, 0.08762896],
       [0.89649427, 0.10350573],
       [0.71408064, 0.28591936],
       [0.40356814, 0.59643186],
       [0.67013951, 0.32986049],
       [0.63478148, 0.36521852],
       [0.32766589, 0.67233411],
       [0.73752066, 0.26247934],
       [0.09687655, 0.90312345],
       [0.89640993, 0.10359007],
       [0.1707227 , 0.8292773 ],
       [0.88930453, 0.11069547],
       [0.18309668, 0.81690332],
       [0.88932727, 0.11067273],
       [0.09877521, 0.90122479],
       [0.30703582, 0.69296418],
       [0.89410932, 0.10589068],
       [0.32769176, 0.67230824],
       [0.9282556 , 0.0717444 ],
       [0.80858223, 0.19141777],
       [0.70029653, 0.29970347],
       [0.07278407, 0.92721593],
       [0.90575863, 0.09424137],
       [0.86681777, 0.13318223],
       [0.54295463, 0.45704537],
       [0.88686071, 0.11313929],
       [0.68735895, 0.31264105],
       [0.83225691, 0.16774309],
       [0.20152126, 0.79847874],
       [0.09720599, 0.90279401],
       [0.1032499 , 0.8967501 ],
       [0.29750147, 0.70249853],
       [0.57580721, 0.42419279],
       [0.89642364, 0.10357636],
       [0.91729731, 0.08270269],
       [0.66760121, 0.33239879],
       [0.18167391, 0.81832609],
       [0.8571398 , 0.1428602 ],
       [0.23896161, 0.76103839],
       [0.32743214, 0.67256786],
       [0.24506061, 0.75493939],
       [0.88685426, 0.11314574],
       [0.45401305, 0.54598695],
       [0.89630229, 0.10369771],
       [0.91428809, 0.08571191],
       [0.89645211, 0.10354789],
       [0.86683132, 0.13316868],
       [0.90525454, 0.09474546],
       [0.17192041, 0.82807959],
       [0.88932913, 0.11067087],
       [0.9331981 , 0.0668019 ],
       [0.88932205, 0.11067795],
       [0.22285125, 0.77714875],
       [0.31275526, 0.68724474],
       [0.69731219, 0.30268781],
       [0.89642294, 0.10357706],
       [0.64368712, 0.35631288],
       [0.89645211, 0.10354789],
       [0.39319185, 0.60680815],
       [0.87911057, 0.12088943],
       [0.54094984, 0.45905016],
       [0.86683132, 0.13316868],
       [0.05726439, 0.94273561],
       [0.36636542, 0.63363458],
       [0.84563574, 0.15436426],
       [0.20080362, 0.79919638],
       [0.77642686, 0.22357314],
       [0.84630658, 0.15369342],
       [0.8119606 , 0.1880394 ],
       [0.74957837, 0.25042163],
       [0.38716659, 0.61283341],
       [0.91472833, 0.08527167],
       [0.32769176, 0.67230824],
       [0.25925337, 0.74074663],
       [0.3165226 , 0.6834774 ],
       [0.92099046, 0.07900954],
       [0.89647741, 0.10352259],
       [0.56185596, 0.43814404],
       [0.84563524, 0.15436476],
       [0.89640993, 0.10359007],
       [0.63539218, 0.36460782],
       [0.36139429, 0.63860571],
       [0.84563524, 0.15436476],
       [0.732919  , 0.267081  ],
       [0.92084156, 0.07915844],
       [0.90093254, 0.09906746],
       [0.09625387, 0.90374613],
       [0.88527177, 0.11472823],
       [0.56288058, 0.43711942],
       [0.90737247, 0.09262753],
       [0.9134367 , 0.0865633 ],
       [0.68094853, 0.31905147],
       [0.83877021, 0.16122979],
       [0.89635823, 0.10364177],
       [0.32769176, 0.67230824],
       [0.22102561, 0.77897439],
       [0.60317526, 0.39682474],
       [0.90015618, 0.09984382],
       [0.74047478, 0.25952522],
       [0.56427264, 0.43572736],
       [0.88171801, 0.11828199],
       [0.83905865, 0.16094135],
       [0.89645   , 0.10355   ],
       [0.40211047, 0.59788953],
       [0.09451758, 0.90548242],
       [0.29069855, 0.70930145],
       [0.63405988, 0.36594012],
       [0.73537472, 0.26462528],
       [0.90312449, 0.09687551],
       [0.80736394, 0.19263606],
       [0.90094234, 0.09905766],
       [0.84884057, 0.15115943],
       [0.7673056 , 0.2326944 ],
       [0.58525405, 0.41474595],
       [0.09390983, 0.90609017],
       [0.89417346, 0.10582654],
       [0.20242711, 0.79757289],
       [0.54005654, 0.45994346],
       [0.80744458, 0.19255542],
       [0.74446885, 0.25553115],
       [0.3119415 , 0.6880585 ],
       [0.50804533, 0.49195467],
       [0.84563574, 0.15436426],
       [0.30946141, 0.69053859],
       [0.90312119, 0.09687881],
       [0.56723533, 0.43276467],
       [0.79277891, 0.20722109],
       [0.89628756, 0.10371244],
       [0.7597998 , 0.2402002 ],
       [0.84563524, 0.15436476],
       [0.73052718, 0.26947282],
       [0.91345077, 0.08654923],
       [0.93459974, 0.06540026],
       [0.0768817 , 0.9231183 ],
       [0.91467693, 0.08532307],
       [0.34712891, 0.65287109],
       [0.7673056 , 0.2326944 ],
       [0.36717143, 0.63282857],
       [0.75826152, 0.24173848],
       [0.21718462, 0.78281538],
       [0.08321186, 0.91678814],
       [0.76326508, 0.23673492],
       [0.71911027, 0.28088973],
       [0.87844155, 0.12155845],
       [0.45435755, 0.54564245],
       [0.68263548, 0.31736452],
       [0.21916721, 0.78083279],
       [0.89642434, 0.10357566],
       [0.86683132, 0.13316868],
       [0.47145942, 0.52854058],
       [0.96687945, 0.03312055],
       [0.15342865, 0.84657135],
       [0.21718462, 0.78281538],
       [0.90306021, 0.09693979],
       [0.05997581, 0.94002419],
       [0.51692374, 0.48307626],
       [0.86669477, 0.13330523],
       [0.37467884, 0.62532116],
       [0.08348666, 0.91651334],
       [0.69184229, 0.30815771],
       [0.77704603, 0.22295397],
       [0.05452398, 0.94547602],
       [0.68238823, 0.31761177],
       [0.83739283, 0.16260717],
       [0.17398819, 0.82601181],
       [0.06770346, 0.93229654],
       [0.46796508, 0.53203492],
       [0.74472806, 0.25527194],
       [0.70431569, 0.29568431],
       [0.92143003, 0.07856997],
       [0.86683132, 0.13316868],
       [0.87243292, 0.12756708],
       [0.39179435, 0.60820565],
       [0.40438725, 0.59561275],
       [0.77171831, 0.22828169],
       [0.22560797, 0.77439203],
       [0.89643313, 0.10356687],
       [0.87663252, 0.12336748],
       [0.85801843, 0.14198157],
       [0.90687346, 0.09312654],
       [0.50896888, 0.49103112],
       [0.14539503, 0.85460497],
       [0.87640425, 0.12359575],
       [0.84755181, 0.15244819],
       [0.94504977, 0.05495023],
       [0.07787762, 0.92212238],
       [0.86688376, 0.13311624],
       [0.10323949, 0.89676051],
       [0.89174332, 0.10825668],
       [0.88560447, 0.11439553],
       [0.07962336, 0.92037664],
       [0.8403631 , 0.1596369 ],
       [0.04900814, 0.95099186],
       [0.48236802, 0.51763198],
       [0.57710324, 0.42289676],
       [0.64241102, 0.35758898],
       [0.78566258, 0.21433742],
       [0.58890718, 0.41109282],
       [0.3276976 , 0.6723024 ],
       [0.32318286, 0.67681714],
       [0.32769176, 0.67230824],
       [0.09003257, 0.90996743],
       [0.41712199, 0.58287801],
       [0.89640993, 0.10359007],
       [0.06712879, 0.93287121],
       [0.9253801 , 0.0746199 ],
       [0.89640993, 0.10359007],
       [0.8706877 , 0.1293123 ]])

<h3>SGD</h3>

In [46]:
from sklearn.linear_model import SGDClassifier

sgd = SGDClassifier()
sgd.fit(X_train, y_train)
y_pred = svc.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision, recall, fscore, _ = score(y_test, y_pred, average='weighted')
metrics_sgd = pd.Series({'precision':precision, 'recall':recall, 
                              'fscore':fscore, 'accuracy':accuracy}, name='SGD')
metrics_sgd

precision    0.915013
recall       0.901914
fscore       0.897778
accuracy     0.901914
Name: SGD, dtype: float64

<h3>SVM</h3>

In [36]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision, recall, fscore, _ = score(y_test, y_pred, average='weighted')
metrics_svc = pd.Series({'precision':precision, 'recall':recall, 
                              'fscore':fscore, 'accuracy':accuracy}, name='SVM')
metrics_svc

precision    0.915013
recall       0.901914
fscore       0.897778
accuracy     0.901914
Name: SVM, dtype: float64

<h3>Decision tree</h3>

In [44]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision, recall, fscore, _ = score(y_test, y_pred, average='weighted')
metrics_dt = pd.Series({'precision':precision, 'recall':recall, 
                              'fscore':fscore, 'accuracy':accuracy}, name='DT')
metrics_dt

precision    0.800204
recall       0.801435
fscore       0.800700
accuracy     0.801435
Name: DT, dtype: float64

<h3>Random forest</h3>

In [45]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision, recall, fscore, _ = score(y_test, y_pred, average='weighted')
metrics_rf = pd.Series({'precision':precision, 'recall':recall, 
                              'fscore':fscore, 'accuracy':accuracy}, name='RF')
metrics_rf

precision    0.848718
recall       0.849282
fscore       0.848954
accuracy     0.849282
Name: RF, dtype: float64

In [50]:
metrics = pd.concat([metrics_knn, metrics_lr, metrics_sgd, metrics_svc, metrics_dt, metrics_rf], axis=1)
metrics

                KNN        LR       SGD       SVM        DT        RF
precision  0.858661  0.957357  0.915013  0.915013  0.800204  0.848718
recall     0.858852  0.956938  0.901914  0.901914  0.801435  0.849282
fscore     0.858751  0.957054  0.897778  0.897778  0.800700  0.848954
accuracy   0.858852  0.956938  0.901914  0.901914  0.801435  0.849282

Most accurate model in this case is Logistic Regression

<h3>Answer for the question</h3>

Answer for the question, what is every passenger's probability of survival, according to Logistic Regression model

In [60]:
proba.T[0]
submission = pd.DataFrame(data = proba.T[0], index = test_id, columns=['Probability of survival'])
submission

             Probability of survival
PassengerId
892                         0.894089
893                         0.577986
894                         0.858485
895                         0.903060
896                         0.433578
...                              ...
1305                        0.896410
1306                        0.067129
1307                        0.925380
1308                        0.896410
1309                        0.870688

[418 rows x 1 columns]